trunk/BollywoodABC/WebApp/src/main/webapp/SoapService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://soap.web.server.babc.com/" name="SoapService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.web.server.babc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://soap.web.server.babc.com/" schemaLocation="SoapService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="version">
    <part name="parameters" element="tns:version"/>
  </message>
  <message name="versionResponse">
    <part name="parameters" element="tns:versionResponse"/>
  </message>
  <message name="getRelatedStories">
    <part name="parameters" element="tns:getRelatedStories"/>
  </message>
  <message name="getRelatedStoriesResponse">
    <part name="parameters" element="tns:getRelatedStoriesResponse"/>
  </message>
  <message name="getTweets">
    <part name="parameters" element="tns:getTweets"/>
  </message>
  <message name="getTweetsResponse">
    <part name="parameters" element="tns:getTweetsResponse"/>
  </message>
  <portType name="Soap">
    <operation name="version">
      <input message="tns:version"/>
      <output message="tns:versionResponse"/>
    </operation>
    <operation name="getRelatedStories">
      <input message="tns:getRelatedStories"/>
      <output message="tns:getRelatedStoriesResponse"/>
    </operation>
    <operation name="getTweets">
      <input message="tns:getTweets"/>
      <output message="tns:getTweetsResponse"/>
    </operation>
  </portType>
  <binding name="SoapPortBinding" type="tns:Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="version">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRelatedStories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTweets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SoapService">
    <port name="SoapPort" binding="tns:SoapPortBinding">
      <soap:address location="http://www.bollywoodabc.com/soapservice"/>
    </port>
  </service>
</definitions>

